@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

:root {
  --text-color: #f0e7d5;
  --heading-color: #e8e8e8;
  --bg-color: #252525;
  --link-color: #d93;
  --link-color-hover: #fda;
}

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font: 1rem/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  background-attachment: fixed !important;
  background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  margin-bottom: 0.5rem;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin-bottom: 1;
}

h1, h2, h3 {
  line-height:1.1;

}

h1 { font-size: 2.75rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

h3 {
  opacity: 0.7;
}

a {
  color: var(--link-color);
  text-decoration: underline;

  &:hover {
    color: var(--link-hover-color);
  }
}

a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style-image:url('../images/bullet.png');
}

.wrapper {
  max-width: 45rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1.5rem;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left:3px solid #ffcc00;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#efefef;
  font-size: 0.875rem;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}

pre {
  padding:8px 15px;
  background: #191919;
  border-radius: 2px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: var(--text-color);
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

section {
  max-width:650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;

  #title {
    border: 0;
    outline: none;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;

    h1 {
      font-weight: lighter;
      text-align: center;
    }

    p {
      color: #d7cfbe;
      font-weight: lighter;
      font-size: 1.2em;
      text-align: center;
    }
  }
}

@media print, screen and (max-width: 720px) {

  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

@media print, screen and (max-width: 480px) {

  #header {
    margin-top: -20px;
  }

  section {
    margin-top: 40px;
  }
  nav {
    display: none;
  }
}
